<div class="home-container">

    <h2 class="title">Our story</h2>

    <p class="story-text">
        We believe in good food. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.
        Fans were given situations where they had to come up with witty and fun excuses. The person with the
        best excuse won the Best Excuse Badge and won Pizzeria vouchers. Their enthusiastic response proved
        that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza Ever!
    </p>

    <p class="story-text">
        Ever since we launched the Tastiest Pan Pizza, everyone has been able to resist the softest,
        cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. They have been eating the stage in
        the middle of a performance and even finding excuses to be disqualified in a football match.
    </p>

    <!-- Ingredients Section -->

    <div class="row-section">

        <div class="image-box">
            <img src="assets/ingredients.jpg">
        </div>

        <div class="text-box">

            <h3>Ingredients</h3>

            <p>
                We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf
                (straight from the farm), or steaming a baby carrot. Cut. Chop. Chop. Steam. Steam. Stir
                while they're still young and fresh – that's our motto. It makes the kitchen a better place.
            </p>

        </div>

    </div>


    <!-- Chefs Section -->

    <div class="row-section reverse">

        <div class="text-box">

            <h3>Our Chefs</h3>

            <p>
                They make sauces sing and salads dance. They create magic with skill,
                knowledge, passion, and stirring spoons (among other things). They
                make goodness so good, it doesn't know what to do with itself. We do
                though. We send it to you.
            </p>

        </div>

        <div class="image-box">
            <img src="assets/chef.jpg">
        </div>

    </div>


    <!-- Delivery Section -->

    <div class="row-section">

        <div class="image-box">
            <img src="assets/timer.jpg">
        </div>

        <div class="delivery-box">
            <h3>45 min delivery</h3>
        </div>

    </div>

    <!-- Footer -->

    <div class="footer">

        <p>Copyrights @ 2017 Pizzeria. All rights reserved</p>

    </div>

</div>