<nav class="navbar">

    <div class="nav-container">

        <div class="left-section">

            <a routerLink="/" class="title">Pizzeria</a>

            <img src="assets/logo.png" class="logo">

            <ul class="nav-links">

                <li>
                    <a routerLink="/order">Order Pizza</a>
                </li>

                <li>
                    <a routerLink="/build">Build Ur Pizza</a>
                </li>

            </ul>

        </div>

        <div class="cart-section">

            <button class="cart-btn" routerLink="/cart">
                🛒 Shopping Cart
            </button>

        </div>

    </div>

</nav>